<form action="/create_student" method="post">
 Id : <input type="text" name="student[id]" /> <br>
 Name : <input type="text" name="student[name]" /> <br>
 Roll : <input type="text" name="student[roll]" /> <br>
 <input type="submit"/> <br>
</form>
